body {
    font-family: 'Arial', sans-serif;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
}

.player {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

button:hover {
    background-color: #0056b3;
}

.song-info {
    margin-top: 10px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
    width: 100%;
}
